  <div class="toggle-btn" onclick="toggleSidebar()"></div>

  <div class="sidebar" id="sidebar">
    <div><i class="fas fa-utensils"></i> Diet</div>
    <div><i class="fas fa-dumbbell"></i> Exercise</div>
    <div><i class="fas fa-chart-line"></i> Progress</div>
    <div><i class="fas fa-star"></i> Points</div>
  </div>
